<div class="ui card">
    <div class="image">
        <img src="{{avatar_url}}">
    </div>
    <div class="content">
        <a class="header" href="{{link}}">{{login}}</a>
        <div class="meta">
            <span class="date">Compte créé en {{created_at}}</span>
        </div>
        <div class="description">
            Tu as {{public_repos}} dépôts publiques.
        </div>
    </div>
    <div class="extra content">

        <i class="user icon"></i>
        {{followers}} Amis

    </div>
</div>