<div class="container-fluid">
    <nav id="nav-escalade" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#pres">
            <img id="logo" src="media/escalade-logo.jpg" alt="escalade logo">
        </a>
        <ul class="nav mr-auto nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#pres">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#pionneers">Les pionniers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#photos">Photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#videos">Video</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#commentaires">Commentaires</a>
            </li>
        </ul>
        <li class="nav nav-item">
            <button type="button" class="btn btn-danger" onclick="logout()">Déconnexion</button>
        </li>
    </nav>
    <section id="pres">
        <div class="container d-flex h-100">
            <div class="row align-self-center paragraphe">
                <h4>L'Escalade</h4>
                <p class="text-justify">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                    rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                    explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                    magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                    quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                    labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                    ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                    reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem
                    eum fugiat quo voluptas nulla pariatur? "</p>
            </div>
        </div>
    </section>
    <section id="pionneers">
        <div class="container d-flex h-100">
            <div class="row align-self-center">
                <h4>Les pionniers</h4>
                <p class="text-justify">"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and
                    I will give you a complete account of the system, and expound the actual teachings of the great explorer
                    of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,
                    because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter
                    consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to
                    obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil
                    and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes
                    laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault
                    with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain
                    that produces no resultant pleasure? "</p>
            </div>
        </div>
    </section>
    <section id="photos">
        <div class="container d-flex h-100">
            <div class="row align-self-center">
                <h4>Photos</h4>
                <div id="carouselEscalade" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators ">
                        <!-- populated from javascript -->
                    </ol>
                    <div class="carousel-inner">
                        <!-- populated from javascript -->
                    </div>
                    <a class="carousel-control-prev" href="#carouselEscalade" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true "></span>
                        <span class="sr-only ">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselEscalade" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="videos">
        <div class="container">
            <h4>Videos</h4>
            <div class="row align-self-center">
                <div>
                    <iframe width="1020" height="520" src="https://www.youtube.com/embed/J7QeAx8mn9A" allowfullscreen="true">
                    </iframe>
                </div>
            </div>
        </div>
    </section>
    <section id="commentaires">
        <div class="container">
            <h4>Commentaires</h4>
            <div class="list-group">
                <div id="comments_textarea" class="list-group-item flex-column align-items-start">
                    <div id="comments_form" class="form-group">
                        <label for="inputComment">Laisser un commentaire</label>
                        <textarea name="comment" type="text" class="form-control" id="inputComment" placeholder="Commentaire"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" disabled>Commenter</button>
                </div>
                <div id="comments_section" class="scrollable list-group">
                    <!-- New comments appear here -->
                </div>
            </div>
        </div>
    </section>
</div>