<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<base href="./"></base>
	<title>Rando Passion</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../js/rando.js"></script>
</head>

<body>
	<div class="header">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="logo">
				<a class="navbar-brand" href="home.html">
							<img src="../img/logo.png" alt="logo" width="50" height="50">
				</a>
			</div>
			 <div class="container-fluid">
				    <div class="navbar-header">
					 <a class="navbar-brand" href="home.html">Rando Passion</a>
				    </div>
				    <ul id="randoNavbar" class="nav navbar-nav">
					      <li><a href="home.html">Accueil</a></li>
					      <li><a href="material.html">Matériel</a></li>
					      <li><a href="../index.html">Déonnexion</a></li>
				    </ul>
			  </div>
		</nav>
		
	</div>

	<div class="content">
		<div class ="content-title">
			<h1>Le matériel de randonnée</h1>	
		</div>
		<div class="text-content">
			<p>L'organisation est la clé d'une randonnée réussie, il est donc crucial de prendre le temps de bien planifier votre marche.</p>
			<p>Une bonne organisation doit comporter ces trois étapes : </p>
			<p>- la planification de l'itinéraire,</p>
			<p>- la consultation de la météo, et</p>
			<p>- l'organisation de votre équipement.</p>
			<br>
			<p>Voici une vidéo présentant le matériel indispensable pour une randonnée : </p>
			<div class ="container ">
				<iframe class="center-div"  width="540" height="350"
				src="https://www.youtube.com/embed/0gbB04ZOIgI">
				</iframe> 
			</div>

		</div>
		

	</div>

	<footer class="navbar-default navbar-fixed-bottom">
	  <div class="container-fluid">
	    <small class="copyright"><a class="white" href="/">© 2017 Sandra</a></small>
	  </div>
	</footer>
	



</body>

</html> 
