<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <base href="./"></base>
  <title>Poker</title>
  <link type="image/x-icon" rel="icon" href="../img/favicon.ico">
  <link type="image/x-icon" rel="shortcut icon" href="../img/favicon.ico">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="../css/style.css" media="screen,projection" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body onload="checkCookie()">

  <div class="container">

    <nav>
      <div class="nav-wrapper">
        <a href="../index.html" class="brand-logo">Profile</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="histoire.html">L'histoire</a>
          </li>
          <li>
            <a href="jeu.html">Le jeu</a>
          </li>
          <li>
            <a href="strategie.html">La stratégie</a>
          </li>
          <li>
            <a id="deconnexion" href="../index.html">Se deconnecter</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="video-container">
      <iframe width="850" height="480" src="//www.youtube.com/embed/D1ayn4baFhM?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>

  </div>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/script.js"></script>
</body>

</html>