<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <base href="./"></base>
  <title>Poker</title>
  <link type="image/x-icon" rel="icon" href="../img/favicon.ico">
  <link type="image/x-icon" rel="shortcut icon" href="../img/favicon.ico">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="../css/style.css" media="screen,projection" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body onload="checkCookie()">

  <div class="container">

    <nav>
      <div class="nav-wrapper">
        <a href="../index.html" class="brand-logo">Profile</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="histoire.html">L'histoire</a>
          </li>
          <li>
            <a href="jeu.html">Le jeu</a>
          </li>
          <li>
            <a href="strategie.html">La stratégie</a>
          </li>
          <li>
            <a id="deconnexion" href="../index.html">Se deconnecter</a>
          </li>
        </ul>
      </div>
    </nav>



    <h4>Les bons conseils du No-limit Texas Hold'em</h4>

    <p> &#8608; Ne pas jouer trop de mains de départ : Dans une partie de NL 2$-4$ standard, vous devriez voir 20 à 30% des flops.
      Cela veut dire qu'il vous faudra jeter A-J en première position, K-10 en milieu de parole et Q-10 en fin de parole.
      Choix de la table : Jouez uniquement à des tables où vous avez l'avantage. Il faut donc qu'il y ait quelques joueurs
      faibles à la table où vous vous asseyez. "Jouer les joueurs" : Veillez à évaluer rapidement vos adversaires : qui joue
      des mains inférieures, qui se couche en cas de jeu agressif, qui mise sur les tirages, qui suit les grosses mises avec
      des mains faibles et sur les tirages, qui peut être bluffé, qui bluffe, etc. Attaquer ou se retirer : Se coucher ou
      miser/relancer (si les probabilités sont avec vous). Vous devriez éviter de suivre, sauf si vous avez une bonne raison
      de le faire (comme vouloir piéger un adversaire). Respecter les grosses mises et les relances : Ceci est particulièrement
      vrai à la turn et à la river car la plupart des joueurs ne bluffent pas à ce stade.</p>

    <h4>Les erreurs courantes au No-Limit Texas Hold'em</h4>

    <p> &#8608; Ne pas se coucher avec une main convenable lorsque l'on est battu et, par conséquent, perdre tout son tapis sur
      une seule main. Suivre avec peu de jetons derrière. Jouer trop de mains de départ. Ne pas relancer pré-flop avec des
      mains de qualité (en ne mettant pas assez la pression sur les payeurs ayant des mains à tirage), et trop les relancer
      une fois que le flop a été distribué. Sur/sous-miser dans le pot (gros risque avec une main qui se révélera faible
      / opération n'apportant aucune protection).</p>

    <h4>Stratégie de base pré-flop</h4>

    <p> &#8608; La plupart du temps, vous devriez relancer/sur-relancer lorsque vous avez les meilleures paires (AA-QQ) et les
      meilleurs connecteurs (AK, AQ), afin de faire payer les joueurs ayant des paires et des connecteurs plus faibles et
      cherchant à aller voir des flops contre vous. Souvenez-vous qu'ils auront souvent l'occasion de doubler leur tapis
      à votre détriment s'ils tirent une main intéressante. Accrochez-vous aux meilleures mains avant tout. Poursuivre le
      jeu avec des "secondes meilleures" mains vous coûtera cher au No-Limit. Maintenez la plupart des relances entre 70%
      et 100% de la mise précédente (il faut dans ce cas 3 fois la grossse blinde pour égaliser 80% de la mise du pot), afin
      d'économiser de l'argent lorsque vous êtes relancé à nouveau ou suivi par des joueurs ayant des mains très fortes.
      Si des joueurs suivent la grosse blinde avant vous, relancez d'environ 4 à 6 fois la grosse blinde. Respectez les bons
      joueurs qui ne jouent pas beaucoup de mains (par exemple, vous devriez jeter AQ si un joueur fort relance en premier
      de parole). Lorsque des joueurs très faibles se sont engagés dans le pot, n'hésitez pas à suivre et à voir le flop
      avec eux.</p>


  </div>


  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/script.js"></script>
</body>

</html>